---
import { getLang, useTranslations } from '~/i18n';
const { href = '#main' } = Astro.props;
const t = useTranslations(getLang(Astro.currentLocale));
---
<a class="skip-link" href={href}>{t.skip}</a>
